body {
			font: 75%/170% Arial, Helvetica, sans-serif;
			color: #e7e7e7;
			font-weight:bold;
			background-color: #151212;
			background-image: url('http://i.imgur.com/vfR8Wcl.gif');
			margin: 0px;
			padding: 0px;
		}
#loginform {
			background: #000000;
			margin: 20px 0 20px 30px;
			border-radius: 20px;
			padding: 30px;
			color: #172431;
			font-family: Monaco;
			display: block;
			width: 700px;      
			box-shadow: 0 0 1px 1px #302e30;
		}
		a {
			color: #55aaff;
		}

}
.pass {
	color: #CCCCCC;
	font-weight:bold;
	font-family: Bookman Old Style;
}
.powered {
	font-family: Arial;
	color: #FF8700;
	font-size: 10px;
	line-height: 15px;
	font-weight:bold;
}
.copyright {
	font-family: Arial;
	line-height: 14px;
	color: #CCCCCC;
	font-size: 15px;
	font-weight:bold;
}
.copyright a {
	color: red;
	TEXT-DECORATION: none;
}

.submit {

	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #FFF;
	padding: 5px 10px 5px 10px;
	border: solid 1px #302e30;

	background: #ea4d00;
	text-shadow: 0px 1px 0px #000;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	cursor: pointer;

}
.submit:hover {
	background: #ff6600;
        background-image: url('http://i.imgur.com/5zDzeOI.gif');
}