.logo{
	background: #FFFFFF;
	box-shadow: 0 0 20px 3px #000;
}
hr {
	height: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	border-bottom-width: 0px;
	background-color: #4A4A4A;
	color: #4A4A4A;
}

img { border: 0; }

body {
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #000000;
        background:url(http://i.imgur.com/vfR8Wcl.gif);
	margin: 0px;
	padding: 0px;
}
.showlistlink {
	background:url(images/bglist.png);
	height:100%;
	width:100%;
	color:#FFFFFF;
	font-size:16px;
	position:fixed;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	display: none;
}

tr { font-family: "Segoe UI", Tahoma; font-size: 11px; line-height: 14.5px; color: #FFFFFF; }
input { font-family: "Segoe UI", Tahoma; font-size: 11px; }
select { font-family: "Segoe UI", Tahoma; font-size: 11px; }
textarea { font-family: "Segoe UI", Tahoma; font-size: 11.5px; border-radius: 6px; border: #C8C8C7 2px solid; }
a { color: #55aaff;  }
color { color: #FFFFFF; }

/*.show-table {display: block;}*/

.hide-table {display: none;}

.filelist a {
	text-decoration:none;
}
.filelist a:hover {
	text-decoration:underline;
}
.title {
	font-size: 18px;
	font-weight: bold;
}
.g {
	text-align:center;
	color:#00FF00;
}
.y {
	text-align:center;
	color:#FFFF00;
}
.r {
	text-align:center;
	color:#FF0000;
}
.n {
	text-align:center;
	color:blue;
}
.style1 {
	font-size: 12px;
	font-weight: bold;
}
.style2 {font-weight: bold}

.linkchecker-load{filter:alpha(opacity=20);-moz-opacity:0.2;opacity:0.2;}

.font-black {
	color:#000;
}

.font-blue {
	color:#05F;
}

.caption {
	font-family: Tahoma;
	font-size: 11px;
}

th {
	border-left: 1px solid white;
}

/*
** All previous inline-style classes **
*/


/*the file checkbox menu */
.chkmenu
{
	color: #99C9E6;
}

/* the files list table header */
.flisttblhdr
{
	background-color: #4B433B;
	text-align: center;
	color: white;
}

.flisttblftr
{
	background-color: #4B433B;
	color: white;
	text-align: center;
}

.ftpprogress
{
	background-color:#FFFFFF;
	margin:1px;
	width:0%;
	height:8px;
}



/* main.php */
.plugincolhd
{
	background-color:#657B87;
	color:#eee;
	padding:1px;
	width:102px;
	margin:1px auto 2px 1px;
}

.plugincollst
{
	color: #ccc;
}
.ServerFiles
{
	text-decoration: none;
	color: #FFFFFF;
}
.flistmouseon
{
	background-color: #F5A249;
	color: black;
}

.flistmouseoff
{
	background-color: #D49659;
	color: black;
}

.workswith
{
	text-align:center;
	padding:3px;
	color:#dedede;
	margin:0 auto;
	width:450px;
	font-size:9px;
	height:50px;
	overflow:auto;
	border:1px solid #666;
}

.autodel
{
	color:#FFCC00;
}

.cell-plugin
{
	height: 33px;
	width: 139px;
	font-family: "Tahoma";
	font-size: 11px;
        font-weight:bold;
	color: #FFFFFF;
	text-align: center;
	line-height: 27px;
	background: url(images/button_bg2.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.button-auto
{
	height: 23px;
	width: 105px;
	margin-bottom: 1px;
	margin-top: 1px;
	font-family: "Tahoma";
	font-size: 10px;
	color: #FFAD00;
	text-align: center;
	border: 0px solid;
	background: #17668C url(images/button_bg3.gif);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* The progressbar for upload and download, including the outer div holder */
.progressouter
{
	border:1px solid #FFFFFF; width:300px; height:10px;
}

.progressdown
{
	background-color:#FFFFFF;
	width:0%;
	height:8px;
	margin: 1px;
}

.progressup
{
	background-color:#FFFFFF;
	width:0%;
	height:8px;
	margin: 1px;
}

/* The "new-and-improved" tabs xD */

.selected
{
	background-color: #85cbeb !important;
}

.cell-nav
{
	height: 33px;
	width: 139px;
	font-family: "Tahoma";
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-align: center;
	background: url(images/button_bg1.gif);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.powered {
	font-family: Arial;
	color: #00a1c3;
	font-size: 10px;
	line-height: 14px;
	font-weight:bold;
}
.copyright {
	font-family: Arial;
	line-height: 14px;
	color: #00a1c3;
	font-size: 12px;
	font-weight:bold;
}
.copyright a {
	color: red;
	TEXT-DECORATION: none;
}
.resetdownbutton {
display: inline-block;
padding: 5px 15px;
border-radius: 3px; 
border: 1px solid #e6e9eb;
text-transform: uppercase;
font-weight: 700;
background: #F5E9E9;
}
#kwshadow2 {
opacity:0.9;
bottom:0;
position:fixed;
background: #FFF;
margin-top: 70px; 
padding: 9px;
width: 100%;      
box-shadow: 0 0 20px 3px #000;
}
#links {
resize: none;
height: 25px;
width: 450px;
outline: none;
transition: box-shadow 0.3s ease-in-out, background-image 0.5s ease-in-out;
-webkit-transition: box-shadow 0.3s ease-in-out, background-image 0.5s ease-in-out;
-moz-transition: box-shadow 0.3s ease-in-out, background-image 0.5s ease-in-out;
border-radius: 4.5px;
border: #D0D0D0 1px solid;
}
.filehost{
background:#0EC700;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:5px;
margin:5px;
}
.dfilehost{
background:red;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:5px;
			margin:5px;
		}
.btn-primary {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #006dcc;
background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
background-image: -o-linear-gradient(top, #0088cc, #0044cc);
background-image: linear-gradient(to bottom, #0088cc, #0044cc);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
border-color: #0044cc #0044cc #002a80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.2downbutton {
display: inline-block;
padding: 5px 15px;
border-radius: 3px; 
border: 1px solid #e6e9eb;
text-transform: uppercase;
font-weight: 700;
background-color: #006dcc;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #006dcc;
background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
background-image: -o-linear-gradient(top, #0088cc, #0044cc);
background-image: linear-gradient(to bottom, #0088cc, #0044cc);
background-repeat: repeat-x;
border-color: #0044cc #0044cc #002a80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.well-small {
padding: 9px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.span3{
width:220px;
}
.span9{
width:700px;
}
.row-fluid{width:100%;*zoom:1;}.row-fluid:before,.row-fluid:after{display:table;content:"";line-height:0;}
.row-fluid:after{clear:both;}
.row-fluid [class*="span"]{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;margin-left:2.127659574468085%;*margin-left:2.074468085106383%;}
.row-fluid [class*="span"]:first-child{margin-left:0;
}
.container-fluid{padding-right:20px;padding-left:20px;*zoom:1;}.container-fluid:before,.container-fluid:after{display:table;content:"";line-height:0;}
.container-fluid:after{clear:both;}
p{margin:0 0 10px;}
.lead{margin-bottom:20px;font-size:21px;font-weight:200;line-height:30px;
}
.host-icon-work {
width: 26px;
height: 26px;
border: 2px solid #ffffff;
border-radius: 5px;
background: #ffffff;
margin-bottom: 10px;
margin-right: 10px;
box-shadow: 0px 1px 10px 2px rgb(0, 0, 0);
}
.host-icon-down {
width: 26px;
height: 26px;
border: 2px solid #ff0508;
border-radius: 5px;
background: #ff0508;
margin-bottom: 10px;
margin-right: 10px;
box-shadow: 0px 1px 10px 2px rgb(255, 0, 0);
}
.host-icon-test {
width: 26px;
height: 26px;
border: 2px solid #ffc700;
border-radius: 5px;
background: #ffc700;
margin-bottom: 10px;
margin-right: 10px;
box-shadow: 0px 1px 10px 2px rgb(255, 200, 0);
}